.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.search {
  width: 100%;
}
.cities {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.accordion > .card .card-header,
.card-body {
  padding: 10px;
  /* box-shadow: 1px 1px 3px #444;*/
  margin-left: 10px;
  margin-left: 10px;

  background-color: #fff;
}
button {
  text-transform: uppercase;
  border: 2px solid #ff5177;
  background-color: #ff5177;
  color: #fff;
  cursor: pointer;
  clear: both;
  display: block;
  font-weight: 100;
  margin: 20px auto;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.7s;
}
button:hover {
  background-color: white;
  color: #ff5177;
}
form {
  font-weight: 100;
  margin-top: 20px;
}
form input {
  border: 1px solid #ff5177;
  padding: 10px;
  border-radius: 5px;
  font-family: "Roboto";
}
form input:hover {
  background-color: #282c3450;
  color: white;
}
span {
  color: brown;
  font-weight: 400;
}
h6:hover {
  color: brown;
}
.accordion {
  width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/*  https://api.openaq.org/v1/measurements?country=${country}&parameter=${pollution}&order_by[]=value&sort=desc&limit=10`
https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&titles=Albert%20Einstein*/
