.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row wrap;
}

.App-logo {
  height: 40vmin;
}

.Header {
  background-color: #282c34;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.Header h2 {
  letter-spacing: 1px;
}
.Header h6 {
  font-size: 0.7rem;
}

.App-link {
  color: #09d3ac;
}
.search {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.cities {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.accordion {
  overflow-y: scroll;
  width: 65%;
  margin-top: 20px;
  max-height: 70vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  background-size: contain;
}
.accordion-layer {
  width: 50%;
  height: 70vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: url('./poll.jpg') no-repeat center center;
  background-size: contain;
}
.accordion > .card .card-header,
.card-body {
  padding: 10px;
  /* box-shadow: 1px 1px 3px #444;*/
  margin-left: 10px;
  margin-left: 10px;

  background-color: #fff;
}
.card-body h5 {
  font-size: 1rem;
}
button {
  text-transform: uppercase;
  border: 2px solid brown;
  background-color: brown;
  color: #fff;
  cursor: pointer;
  clear: both;
  display: block;
  font-weight: 100;
  margin: 20px auto;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.7s;
}
button:hover {
  background-color: white;
  color: brown;
}
form {
  font-weight: 100;
  margin-top: 20px;
  width: 50%;
}
form input {
  border: 1px solid brown;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Roboto';
  margin: 5px;
}
form input:hover {
  background-color: #282c3450;
  color: white;
}
span {
  color: brown;
  font-weight: 400;
}
h6:hover {
  color: brown;
}

form input label {
  text-align: left;
}
form p {
  font-size: 0.8rem;
}

option,
select {
  background-color: transparent;
  color: brown;
  border-color: brown;
  border-radius: 5px;
  padding: 10px;
}
option {
  background-color: #282c34;
}
option::hover {
  color: orangered;
}
.footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #282c34;
  color: #fff;
}
.card-header h5 {
  font-size: 0.8rem;
}
.card-header h5:hover {
  color: brown;
}
